@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --text_secondary: 171, 179, 190;
  --text_main: 255, 255, 255;
  --bg_navbar: 71 85 105;
  --border: 107 114 128;
  --focus_select: 30 41 59;
  --hover_button: 241 245 249;
}

.dark {
  --text_secondary: 210, 215, 223;
  --text_main: 255, 255, 255;
  --bg_navbar: 50, 60, 80;
  --border: 75, 85, 99;
  --focus_select: 107, 114, 128;
  --hover_button: 107, 114, 128;
}

html,
body,
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.mosaic-window-title {
  flex: none !important;
}

.mosaic-window-toolbar {
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 8px;
}

.form-select {
  background-image: url("/up-down.svg");
  background-repeat: no-repeat;
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}

.mosaic-window-controls {
  flex: 1;
  align-items: center;
}
