@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.mosaic-window-title {
  flex: none !important;
}

.mosaic-window-toolbar {
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 8px;
}

.form-select {
  background-image: url("/up-down.svg");
  background-repeat: no-repeat;
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}

.mosaic-window-controls {
  flex: 1;
  align-items: center;
}
